%tr
  %td.a
    %span.title= link_to h(book.title), book 
    %span.isbn== (#{h book.isbn})
    %br/
    %span.author=h book.author
  %td.b
    %span.price= number_to_currency book.price
    %br/
    %span.seller=h book.seller
  %td.c= image_tag book.thumbnail_url
