%h1Listing books

%table
  %tr
    %th Title
    %th Author
    %th Seller
    %th Price
    %th Comments
    %th Isbn

  - for book in @books 
    %tr
      %td=h book.title
      %td=h book.author
      %td=h book.seller
      %td=h book.price
      %td=h book.comments
      %td=h book.isbn
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete

%br/

= link_to 'New book', new_book_path
