%h1=h @book.title

%p
  %b Author:
  =h @book.author

%p
  %b Seller:
  =h @book.seller

%p
  %b Price:
  = number_to_currency @book.price

%p
  %b Comments:
  =h @book.comments

%p
  %b Isbn:
  =h @book.isbn

%p
  %b Image:
  =image_tag @book.image_url


= link_to 'Edit', edit_book_path(@book)
%br/
= link_to 'Back', books_path
